@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/* ~~~~~~ general ~~~~~~ */
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #111111;
}
.background{
  background: rgb(228,183,142);
  background: linear-gradient(0deg, rgba(228,183,142,1) 0%, rgba(119,135,166,1) 100%); 
  /* from https://cssgradient.io/ */
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.25);
  /* overlay to darken BG */
  min-height: 100vh;
  position: relative;
}
.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;	
}
.column{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}
.container{
  margin: 0 auto;
  width: 700px;
  text-align: center;
  overflow: auto;
	padding-bottom: 50px;
}

/* ~~~~~~ header ~~~~~~ */
.header{
  padding-top: 50px;
  font-size: 42px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.header-weather{
  font-size: 32px;
}

/* ~~~~~~ inputs and buttons ~~~~~~ */
input:focus{
  outline: none;
  border: 2px solid #FFFFFF;
}
input[type='submit']:hover, .btn:hover, input:focus, a:hover, footer:hover{
  transition: 0.5s;
  box-shadow: 0px 2px 10px rgba(228,183,142,1);
}
input[type='submit']:hover, .btn:hover{
  cursor: pointer;
}
.btn, .zip-input{
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background: transparent;
  color: #FFFFFF;
  padding: 5px;
}
.btn{
  margin: 15px 5px;
}
.zip-input{
  width: 50%;
  font-size: 14px;
  margin: 35px auto;
}
.btn-submit{
  display: block;
  width: 100px;
  margin: 0 auto;
}
::placeholder{
  color: #FFFFFF;
}
.btn-new-zip{
  margin-top: 50px;
  margin-bottom: 25px;
}
.btn-forecast{
  border: none;
}
.btn-forecast-selected{
  text-decoration: underline;
}

/* ~~~~~~ current weather ~~~~~~ */
.current-container{
  margin-top: 50px;
}
.current-header{
  font-weight: normal;
  margin-bottom: 15px;
}
.current-row{
  justify-content: space-evenly;
  align-items: baseline;
}
.current-temp, .current-icon{
  font-size: 48px;
}

/* ~~~~~~ forecast ~~~~~~ */
.date{
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.date p{
  font-size: 18px;
}
.projections{
  margin-left: 10px;
}
.projection{
  margin: 20px 0px;
}
.projection-data{
  align-items: center;
}
.projection-icon{
  font-size: 32px;
  margin: 0px 10px
}
.rain-chance-icon{
  font-size: 22px;
  margin-right: 5px;
  vertical-align: middle;
}
.forecast-temp{
  font-size: 24px;
}
.rain-chance{
  display: flex;
  align-self: center;
  margin-left: 10px;
}

/* ~~~~~~ footer ~~~~~~ */
footer{
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  bottom: 25px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
footer p{
  font-size: 18px;
  color: #FFFFFF;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
footer a, .about-content a{
  text-decoration: none;
}

/* ~~~~~~ about ~~~~~~ */
.about-content{
  margin-top: 35px;
}
.about-content h2{
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.about-content ul{
  margin: 10px 0px 35px 0px;
  list-style-type: none;
}
.about-content li{
  font-size: 18px;
  margin-top: 10px; 
}
.about-content a{
  color: #FFFFFF;
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: bold;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width : 700px) {
  .container{
    width: 90%;
  }
  .forecast-temp{
    font-size: 18px;
  }
  .projection-icon{
    font-size: 28px;
  }
  .forecast-desc{
    font-size: 12px;
  }
  .rain-chance{
    font-size: 14px;
  }
}